<form #registerForm="ngForm" name="PremiumForm" >
  <h2 class="text-center text-primary">Calculator</h2>
  <hr>

  <div class="form-group">
    <label>Name :<br> </label>
    <input type="text" class="form-control" 
    required minlength="4" name="name" [(ngModel)]="model.name" 
    placeholder="Name"> 
    
  </div>



 
  
  <div class="form-group">
    <label>Date of Birth : <br></label>
    <input type="text" class="form-control"
     required name="DateofBirth" [(ngModel)]="model.dateofBirth" 
     placeholder="DateofBirth" (blur)="calculateAge()">
  </div>

  <div class="form-group">
    <label>Age : <br></label>
    <input type="text" class="form-control" 
    required name="age" [(ngModel)]="model.age" readonly="true" 
    placeholder="Age">
  </div>

<div>
    <label>Occupation : <br></label>
  <select required name="occupation" [(ngModel)]="model.occupation" 
    (change)="recalculate()">
    <option *ngFor="let occ of occupation" [value]="occ.name">
     {{occ.name}}
    </option>
  </select>
  
</div>

  <div class="form-group">
      <label>Sum Insured A$:<br> </label>
    <input type="text" class="form-control" 
    required name="SumInsured" [(ngModel)]="model.sumInsured" 
    placeholder="SumInsured">
  </div>
  
  <div *ngIf="!calculating">
    Premium $: {{model.premium | currency:"AUD"}}
  </div>
  
  
  <div class="form-group text-center">
    <button class="btn btn-success" type="button" (click)="calculate()">Calculate</button>
    </div>
  
</form>